html {
  scroll-behavior: smooth;
}
body {
  margin: -10px;
}

h2.section-header#about-me {
  text-align: left;
  font-size: 60px;
  color: blue;
}
header {
  position: relative;
  overflow: hidden;
}
header ul {
  list-style: none;
}

#background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("IMG_20210902_160350.jpg") no-repeat 50% 50%;
  background-size: cover;
  z-index: 10;
  opacity: 0.5;
}
#header-content {
  position: relative;
  z-index: 11;
  padding: 10px;
  text-align: center;
  /* From https://css.glass */
  margin: 75px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}
#header-content li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  transition: 1s;
}
a:hover {
  color: blue;
}

.skills span {
  border: 1px solid aqua;
  padding: 5px 10px;
  margin: 2px 2px;
  color: aqua;
  display: inline-block;
  border-radius: 8px;
  font-size: 13px;
}

.container {
  padding: 5px 5px;
}

.full-width {
  min-width: 100%;
  width: auto;
  height: 265px;
}
.section-header:before {
  content: "";
  display: block;
  position: relative;
  width: 0;
  height: 5em;
  margin-top: -5em;
}
